pyrogram
TgCrypto
requests
aiohttp
pillow
numpy
beautifulsoup4
fake_useragent
gitpython
heroku3
filesplit
filetype
motor
dnspython
python-arq
telegraph
gofile2
git+https://github.com/Itz-fork/py-extract.git
