pyrogram
TgCrypto
requests
aiohttp
aiofiles
pillow
numpy
beautifulsoup4
gitpython
heroku3
filesplit
filetype
motor
dnspython
python-arq
telegraph
httpx
emoji
git+https://github.com/Itz-fork/Gofile2.git
git+https://github.com/Itz-fork/py-extract.git
git+https://github.com/Itz-fork/pyro-mega.py.git
git+https://github.com/Itz-fork/py-trans.git
git+https://github.com/Itz-fork/fake-useragent.git